alembic==0.9.7
aniso8601==2.0.1
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
flake8==3.5.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-Admin==1.5.1
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.1
Flask-Migrate==2.1.1
flask-restplus==0.10.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.6.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
passlib==1.7.1
pluggy==0.6.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
py==1.10.0
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.4.2
pytest-curl-report==0.5.4
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2018.3
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.2
SQLAlchemy-Utils==0.33.8
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
