<html>
    <head>
      {% if title %}
      <title>{{ title }} - Surfing Penguin</title>
      {% else %}
      <title>Welcome to Surfing Penguin</title>
      {% endif %}
    </head>
    <body>
        <div>
            Surfing Penguin:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/select_qstnr">Start to Fill in</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
