.navbar {
  align: center;
  top: 50%;
  margin: 0;
}
.navbar-TopNavBar {
  background-color: #0277bd;
  color: white;
  font-size: 1.25em;
  height: 5%;
  width: 100%;
}

.navbar a {
  background-color: #0277bd;
  color: white;
  top: 50%;
}

.navbar-TopNavBar .navbar-brand {
  font-size: 1.75em;
}
.navbar-header {
  padding: 0 0 0 40%;
}
.navbar-right {
  margin-right: 1%;
}
.navbar-collapse {
  width: 100%;
  align: center;
}
