.navbar {
  align: center;
  top: 50%;
  margin: 0;
}
.navbar-TopNavBar {
  background-color: #0277bd;
  color: white;
  font-size: 1.25em;
  height: 5%;
  width: 100%;
}

.NavButton a {
  background-color: #0277bd;
  color: white;
  font-size: 1em;
}
.navbar-TopNavBar .navbar-brand {
  background-color: #0277bd;
  color: white;
  font-size: 1.75em;
}
.navbar-header {
  padding: 0 0 0 40%;
}
.navbar-right {
  margin-right: 1%;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
